[submodule "libs/jsoncpp"]
	path = libs/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "libs/zetscript"]
	path = libs/zetscript
	url = https://github.com/jespa007/zetscript.git
[submodule "libs/SFML"]
	path = libs/SFML
	url = https://github.com/SFML/SFML.git
